body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(239, 238, 238);
    font-weight: bold;
    width: 30px;
    margin: 15px;
    background: hsl(0, 0%, 4%);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px white;
}
.hero {
    background: url('images/image3.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding:  220px;
}
.hero h1 {
    font-size: 32px;
    font-weight: bold;
}

.search-bar {
    margin-top: 20px;
}
.search-bar input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}
.search-bar button {
    padding: 10px 20px;
    background: orange;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}




.combo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.hero h3{
    font-size: 32px;
    font-weight: bold;
}


.tour-card {
    width: 23%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.tour-card:hover {
    transform: scale(1.05);
}

.tour-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tour-info {
    padding: 15px;
}

.tour-info h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.tour-info p {
    font-size: 14px;
    margin: 3px 0;
}

.price {
    color: #e63946;
    font-weight: bold;
    font-size: 18px;
}


footer {
    background: white;
    padding: 40px 60px;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 150px;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footer-social a img {
    width: 24px;
    height: 24px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: 50px;
}

.footer-column {
    margin-right: 40px;
}

.footer-column h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: black;
}

.footer-column ul li a:hover {
    color: #0073e6;
}