body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


.title {
    font-size: 32px;
    color: #007bff;
    font-weight: 700;
    margin-bottom: 20px;
}

.card {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s;
}

input:focus {
    border-color: #01070d;
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 3, 6, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #007bff, #00d4ff);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s;
}

button:hover {
    background: linear-gradient(to right, #0056b3, #000202);
    transform: translateY(-2px);
}
